[submodule "packages/react-fsd-starter"]
	path = packages/react-fsd-starter
	url = https://github.com/pavel-lezhenin/react-fsd-starter.git
[submodule "packages/angular-standalone-orders"]
	path = packages/angular-standalone-orders
	url = https://github.com/pavel-lezhenin/angular-standalone-orders.git
