node_modules/
dist/
build/
coverage/
.turbo/
packages/**/node_modules/
packages/**/dist/
packages/**/build/
packages/**/coverage/
packages/**/.angular/
docs/
templates/
*.lock
*.log
.git/
.github/
.env*
!.env.example